$primary: #341F89;
$mutedPrimary: #7F71B6;
$mutedBackground: #F8F6F2;
$mutedText: #7d726b;
$disabled: #79738D;
$success: #28891F;
$error: #EB5757;
$errorDarker: #881725;
$mainText: #190f09;

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.4;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: none;
}

@media (max-width: 720px) {
    html {
        font-size: 18px;
    }
}

@media (max-width: 648px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    color: #232323;
    position: fixed;
    left: 0;
    top: 0;
}

h1 {
    font-size: 1.8rem;
    margin: 0;
}

h2 {
    font-size: 1.1rem;
}

p {
    font-size: 1.0rem;
}

#app {
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.header {
    z-index: 100;
    background-color: $mutedBackground;
    padding: 0.4rem 1rem;
    box-shadow: 0px 4px 20px rgba(176, 164, 156, 0.3);
    position: relative;

    &__home {
        text-align: center;
        color: $primary;
    }

    &__quiz-name {
        float: left;
        color: $primary;
        margin: 0 0 0.2rem 0;
    }

    &__score {
        float: right;
        color: $primary;
        margin: 0 0 0.2rem 0;
    }

    &__progress-bar {
        bottom: 0;
        left: 0;
        height: 0.2rem;
        background-color: $primary;
        transition: width 0.2s ease-out;
        position: absolute;
    }
}

.answer-panel {
    z-index: 50;  // less than header
    background-color: $mutedBackground;
    color: $mainText;
    box-shadow: 0px 4px 20px rgba(176, 164, 156, 0.3);
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    transition: top 0.2s ease-out;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &--show {
        top: 2.5rem;
    }
}

.body {
    overflow-y: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;

    & > * {
        max-width: 38rem;
    }

    &__verses {
        margin-top: 1.5rem;
        font-size: 1.1rem;
        font-family: Palatino,'Times New Roman',serif;
        line-height: 1.6rem;
    }

    .chapter {
        display: block;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: $mainText;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .verse-number {
        font-size: 0.8rem;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        vertical-align: super;
    }

    &__quiz-set {
        width: 80%;
        max-width: 450px;
        margin-bottom: 1rem;
        font-size: 1rem;

        // special button styles for just the home page
        & > .btn-quiz {
            padding-right: 2rem;
            justify-content: space-between;

            .top-score {
                width: 4rem;
                text-align: center;
                display: inline-block;
            }
        }

        & > .btn-mode {
            justify-content: center;
            h2 {
                font-weight: normal;
            }
        }

        & > .btn {
            h2 {
                margin: 0.3rem 0;
                display: inline-block;
            }

        }
    }

    // add padding so you can scroll to the top when the answer panel is open
    &--padding-top {
        margin-top: 2.5rem;
    }
}

.vertical-center {
    display: flex;
    align-items: center;
}

.footer {
    z-index: 100;
    background-color: $mutedBackground;
    box-shadow: 0px -4px 20px rgba(176, 164, 156, 0.3);

    flex-shrink: 1;

    &__prompt {
        text-align: center;
        margin: 0.6rem 1rem;
        font-size: 0.9rem;
    }

    .footer__btn-set {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        padding: 0 0.1rem 0.1rem 0.1rem;
        overflow-y: auto;
        max-height: 40vh;
        padding-bottom: env(safe-area-inset-bottom);

        & > .btn {
            min-width: 3rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            height: 3rem;
            text-align: center;
            justify-content: center;
            transition: color 0.2s ease-out;
        }
    }
}

.home__footer {
    color: $mutedText;
    font-size: 0.8rem;
    text-align: center;
    & a {
        color: $mutedText !important;
    }
}

.btn {
    margin: 0.1rem;
    flex-grow: 1;
    font-size: 0.8rem;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;

    &--primary { background-color: $primary; }
    &--secondary { background-color: $mutedPrimary; }
    &--disabled { background-color: $disabled; cursor: not-allowed; }
    &--success { background-color: $success; }
    &--error { background-color: $error; }
}

.mode-btn {
}


table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ccc;
}

td {
    text-align: left;
    padding: 0.25rem 1rem;
}

th {
    text-align: center;
    padding: 0.25rem 1rem;
}

// utilities

.text-error {
    color: $error;
    .text-highlight {
        color: $errorDarker !important;
    }
}

.text-muted {
    color: $mainText;
    .text-highlight {
        color: $mainText;
        font-weight: bold;
    }
}

.text-success {
    color: $success;
}

.text-main {
    color: $mainText;
    font-weight: bold;
}
